.fonctionnement {
    display: flex;
    flex-direction: column;
    $margesPlus10 : $marges-global + 10px;
    margin: 0 $marges-global 30px $margesPlus10;
    @media (min-width: $queries) {
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &__titre {
        padding: 25px 0 30px 0;
        @media (min-width: $queries) {
            width: 100%;
        }
    }
    &__etape {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        margin-bottom: 30px;
        background-color: $color-grey;
        height: 65px;
        border-radius: 20px;
        box-shadow: 0px 3px 3px darken($color-grey, 10%);
        z-index: 1;
        position: relative;
        cursor: pointer;
        @media (min-width: $queries) {
            width: 31%;
        }
        &--numero {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            left: -10px;
            height: 20px;
            width: 20px;
            background-color: $color-primaire;
            border-radius: 15px;
            text-align: center;
            vertical-align: text-bottom;
            color: white;
            font-size: .8em;
            @media (min-width: $queries) {
                position: relative;
            }
        }
        &--icon {
            width: 20px;
            margin: 0 20px 0 30px;
            color: darken($color-grey, 50%);
        }
        &--txt {
            font-weight: 600;
            @media (min-width: $queries) {
                padding-right: 10px;
            }
        }
        &:hover {
            &::after {
                opacity: 0.2;
            }
        }
        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            border-radius: 20px;
            background-color: lighten($color-primaire, 15);
            opacity: 0;
            z-index: -1;
            transition: opacity 250ms;
        }
    }
}