header {
    display: flex;
    justify-content: center;
    padding: 10px 0 5px 0;
}

.header__arrow {
    position: absolute;
    top: 25px;
    left: 15px;
}

.marges {
    margin: 0 $marges-global 0 $marges-global;
}