.img-carte {
    width: 100%;
    height: 270px;
    object-fit: cover;
}

.carte {
    display: flex;
    flex-direction: column;
    position: relative;
    top: -45px;
    width: 100%;
    border-radius: 40px 40px 0 0;
    background-color: $color-grey;
    z-index: 99;
    padding-bottom: 30px;

    &__titre {
        display: flex;
        align-content: center;
        padding: 35px $marges-global 0 $marges-global;
        width: 100%;
        position: relative;

        &--icon {
            position: absolute;
            font-size: 1.5em;
            right: 40px;
            top: 46px;
            z-index: 99;

            &:hover {
                opacity: 0;
                & + .carte__titre--icon-full {
                        opacity: 1;   
                }
             }
    
            &-full {
                position: absolute;
                right: 40px;
                top: 46px;
                opacity: 0;
                font-size: 1.5em;
                color: $color-primaire;
                transition: opacity 250ms;
            }
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        margin: 25px $marges-global 0 $marges-global;
        @media (min-width: $queries) {
            margin: 25px auto 0 auto;
            width: 900px;
        }
    }

    &__titre2 {
        text-transform: uppercase;
        padding-bottom: 15px;

        &::after {
            content: "";
            display: block;
            height: 3px;
            width: 40px;
            background-color: $color-terciaire;
            margin-top: 5px;
        }
    }

    &__cards {
        background-color: #FFF;
        margin-bottom: 10px;
        border-radius: 15px;
        padding: 10px 8px 10px 8px;
        box-shadow: 0px 3px 3px darken($color-grey, 10%);
        display: flex;
        flex-direction: column;
        cursor: pointer;
  
        @for $i from 1 to 10 {
            &--#{$i} {
                @include animation-aparition($delay);    
            }
            $delay: $delay + 300ms;
        }

        &--name {
            font-weight: 600;
            margin-bottom: 5px;
        }

        div {
            display: flex;
            justify-content: space-between;
            flex-wrap: nowrap;
            font-size: .9em;
        }

        &--price {
            font-weight: 500;
        }
    }

    &__btn {
        margin-top: 40px;
        align-self: center;
    }

    &::after {
        content: "";
        width: 100%;
        height: 45px;
        background-color: $color-grey;
        position: absolute;
        bottom: -45px;
    }
}

@keyframes aparition {
    0% {
        opacity: 0;
        transform: translateY(5px);
    }
    40%, 100% {
        opacity: 1;
    }
    100% {
        transform: translateY(0px);
    }
}