h1, .h1 {
    font-family:  'Shrikhand', cursive;
    font-size: 2em;
}

h2 {
    font-family: 'roboto', sans-serif;
    font-weight: 600;
    font-size: 1.3em;
}

h3 {
    font-family: 'roboto', sans-serif;
    font-weight: 600;
}

h4 {
    font-family:  'Shrikhand', cursive;
    color: #FFF;
    font-size: 1.1em;
}

span {
    font-family: 'roboto', sans-serif;
}

li {
    font-family: 'roboto', sans-serif;
    color: #FFF;
}