h1 {
    font-family:  'Shrikhand', cursive;
    font-size: 2em;
}

h2 {
    font-family: 'roboto', sans-serif;
    font-weight: 600;
    font-size: 1.3em;
}

span {
    font-family: 'roboto', sans-serif;
}